<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.genia.gostee">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Gostee"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".Controllers.Controllers.MainActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            tools:ignore="InnerclassSeparator">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Controllers.Controllers.Main2Activity"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Controllers.Controllers.Registration"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Controllers.Controllers.RecoveryPassword"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Controllers.Controllers.NewPassword"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity android:name=".Controllers.Controllers.AddCard"></activity>
    </application>

</manifest>